@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }

 @plugin "daisyui/theme" {
   name: "light";
   default: true;
   --color-primary: #43A047;
   --color-secondary: #6a7282;
 }

 @plugin "daisyui/theme" {
   name: "dark";
   --color-primary: #10b981;
   --color-secondary: #94a3b8;
   --color-base-100: #0f172a;
   --color-base-200: #1e293b;
   --color-base-300: #334155;
   --color-neutral: #1e293b;
   --color-neutral-content: #f8fafc;
   --color-base-content: #f1f5f9;
 }

.btn-primary {
  @apply bg-green-600 border-none text-white;
}
.btn-primary:hover {
  @apply opacity-90;
}
.headings {
  @apply font-bold text-3xl
}