@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #008236;
  --color-secondary: #6a7282;
}

.btn-primary {
  @apply bg-green-700 border-none text-white;
}
.btn-primary:hover {
  @apply opacity-90;
}
.headings {
  @apply text-primary font-bold text-4xl
}
